*

!.gitignore
!.xbindkeysrc
!.xprofile
!.zprofile

!bin/
!bin/*
bin/exercism

!.config/
!.config/alacritty/
!.config/alacritty/*
!.config/awesome/
!.config/awesome/rc.lua
!.config/awesome/theme.lua
!.config/nvim/
!.config/nvim/init.lua
!.config/nvim/lua/
!.config/nvim/lua/core
!.config/nvim/lua/core/*
!.config/nvim/lua/plugins
!.config/nvim/lua/plugins/*
!.config/shell/
!.config/shell/*
!.config/zathura/
!.config/zathura/zathurarc
!.config/zsh/
!.config/zsh/.zshrc
